*.terraform*
*.tfstate*

# terraformの公開したくない変数群
*.tfvars
*parameters.cfg

# ADユーザ
*user_vars*
!*user_vars.template*

# memo
*.drawio*

# テスト用アプリケーション 
*node_module*
*.pyc
*py310*

# ユーザデータに渡すDB接続情報
*user_data_vars.tf

# SAM
*aws-sam*
*tests/