variable "user_data_vars" {
  default = {
    Web-Server = "{\"host\":\"<RDSエンドポイントorDBサーバのプライベートIP>\", \"port\":\"3306\", \"user\":\"<ユーザ名>\", \"password\":\"<パスワード>\", \"database\":\"<データベース名\"}"
  }
}
